<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usian.mapper.TbItemMapper">
    <!--根据ID查询tbitem表 和cat 表，通过关联查询得出分类名称-->
    <select id="selectItemInfo" resultType="com.usian.pojo.TbItem">
        select i.*,
               c.name cname
        from usian.tb_item i,
             tb_item_cat c
        where i.cid = c.id
          and i.id = #{itemId}
    </select>
    <!--分页查询tbitem表-->
    <select id="selectTbItemAllByPage" resultType="com.usian.pojo.TbItem">
        select i.*,
               c.name cname
        from usian.tb_item i,
             tb_item_cat c
        where i.cid = c.id
          and i.status = 1
        order by i.updated desc
    </select>
    <!--添加商品，主键id是通过工具类生成的，不需要自己返回-->
    <insert id="insertTbItem">
        insert into usian.tb_item (id, title, sell_point, price, num, barcode, image, cid, created, updated)
        values (#{id}, #{title}, #{sellPoint}, #{price}, #{num}, #{barcode},
                #{image}, #{cid}, now(), now());
    </insert>
    <!--根据ID查询需要修改的商品信息-->
    <select id="queryByItemId" resultType="com.usian.pojo.TbItem">
        select i.*,
               c.name cname
        from usian.tb_item i,
             tb_item_cat c
        where i.cid = c.id
          and i.id = #{itemId}
    </select>
    <!--根据ID修改商品信息-->
    <update id="updateTbItem">
        update usian.tb_item
        set title= #{title},
            sell_point= #{sellPoint},
            price= #{price},
            num= #{num},
            barcode= #{barcode},
            image= #{image},
            cid= #{cid},
            updated= now()
        where id = #{id};
    </update>

    <update id="deleteItemById">
        update usian.tb_item
        set status=3,
            updated= now()
        where id = #{id};
    </update>
</mapper>